ul.list li a[href^="https"] {
  color: red;
}
ul + p {
  font-size: 24px;
}
:root {
  --main-color: #336699;
  --secondary-color: #FF9933;
}

h1 {
  color: var(--main-color);
}

p {
  color: var(--secondary-color);
}